Package: com.wrp1002.homebarnoedgeprotect
Name: HomeBarNoEdgeProtect
Version: 1.0.0
Architecture: iphoneos-arm
Description: Disable HomeBar double swipe to close apps
Maintainer: Wes <wes.hamster@gmail.com>
Author: Wes <wes.hamster@gmail.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
